.container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1;
    height: 165px;
}

.content {
    display: flex;
    padding: 1rem;
    flex: 1;
    justify-content: center;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

.sidebarToggle {
    position: fixed;
    display: none;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 400;
    font-size: 27px;
}

@media screen and (max-width: 600px) {
    .sidebarToggle {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem;
        cursor: pointer;
    }
}