.container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1;
    height: 165px;
}

.content {
    display: flex;
    padding: 1rem;
    flex: 1;
    justify-content: center;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}